
<script src="js/nextprevkeys.js">
</script>
<script>onsugarInitSlideKeys();</script>
<div class="vitbg" align="center"><br /><font class="alert">{message}</font>
<table width="800" border="0" bgcolor="#FFFFFF">
<tr>
<td width="800" align="left"><strong> {photoowner2}'s Album:</strong> {albumnam}</td>


<td width="15%" align="left"><a href="{relative_path}comment_photo.php?user_id={user_id}&photo={photo}&id={id}&pageno={pageno}"><b>{lang.ALBUMS_ADD_COMMENTS}</b></a></td>
</tr>	
</table>



<div class="head_zoid"></div>


<table width="800" border="0" bgcolor="#FFFFFF">
  <tr> <td colspan="2" align="left"><a href="{relative_path}pics.php?user_id={user_id}&id={id}">&nbsp;&nbsp;&nbsp;&nbsp;<u>{lang.ALBUMS_BACK_TO_PICS}</u></a></td>
  </tr>
  <tr>
   <td width="250" align="left"><a href="{relative_path}{plink}">&nbsp;&nbsp;&nbsp;&nbsp;<u>{lang.ALBUMS_BACK_TO_PROFILE}</u></a>

</td>
<!-- AddThis Button BEGIN -->
   <td>
   <div style="text-align: center">
<div class="addthis_toolbox addthis_default_style ">
<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
<a class="addthis_button_tweet"></a>
<a class="addthis_button_pinterest_pinit"></a>
<a class="addthis_counter addthis_pill_style"></a>
</div>
<script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4d94d9f94ef7b65a"></script>
<!-- AddThis Button END --></div>
   </td>
  </tr>
<tr>
	<td colspan="2" align="right"><a href="mylist.php?id={picnumber}&p={photo}&o={ownerid}">{lang.ALBUMS_ADD_TO_LIST}&nbsp;&nbsp;&nbsp;&nbsp; </td>
	</tr>
  <tr>
    <td colspan="2" align="center">
    
    {prevlink}&nbsp;&nbsp;{piccounts}&nbsp;&nbsp;&nbsp;{nextlink}<br />
    
    
    <br />
    
    
    {nextlinkpic}<img src="{relative_path}memberpictures/{photo}" class="mainimage" border="0" />{closingtag}
    
    <br />
    
    <br /><br />

<b>{lang.ALBUMS_HTML_EMBED} &lt;img&gt;:</b><br />
<input alt="" onFocus="this.select();" class="input-link" id="html-code" value='<img src="{baseurl}/memberpictures/{photo}" border="0" />' size="80" title="" type="text">

<br /><br />
<b>{lang.ALBUMS_FORUM_CODE}:</b><br />
<input alt="" onFocus="this.select();" class="input-link" id="html-code" name="codes" value="[img]{baseurl}/memberpictures/{photo}[/img]" size="80" title="" type="text">
    <br /><br />
    


<table width="639" border="0">
 
  
 <tr>
    <td align="left" valign="top">{titleword}</td>
    <td align="left" valign="top">{imgtitle}</td>
  </tr>
  <tr>
    <td align="left" valign="top">{capword}</td>
    <td align="left" valign="top">{caption}</td>
  </tr>

<tr>
    <td align="left">{lang.ALBUMS_DATE_UPLOADED}:</td>
    <td align="left">{pdate}</td>
  </tr>


 <tr>
    <td width="95" align="left">{lang.ALBUMS_VIEWS}:</td>
    <td width="629" align="left">{views}</td>
  </tr>
  
  
   <tr>
    <td width="95" align="left" valign="top">{listword}</td>
    <td width="629" align="left">{showlist}</td>
  </tr>
  
  
  


<tr>
<td>{optionlink}</td>
<tr>
</table>

    </p>
    </td>
  </tr>
  
  
</table>
<table align="center" cellspacing="2" width="800" bgcolor="#FFFFFF">


<tr>

<td colspan="2">


<hr class="bottomline" /></td><br /><br />
</tr>


  
 <tr>
 <td align="center"><br /><br /></td></tr>
  
  </table>


</div></div>
