<div class="vitbg"><br />
<table cellspacing="0" cellpadding="0" width="800" border="0" bgcolor="#FFFFFF">
<tr>
	<td>

	<table width="100%" cellpadding="0" cellspacing="0" border="0" align=""><tr><td align="left"><img src="{relative_path}images/rarrow.gif" border="0" alt="{name}"><b>Back to profile of:</b> <a href="{relative_path}{plink}"><b>{name2}</b></a> {editlink_mydetails}</td>
	<td align="left">

<table width="100%" cellpadding="0" cellspacing="0" border="0" >
<tr><td align="left">{links_menu}</td>
<td align="right">Albums: {pcount}&nbsp;</td>
</tr></table>
</td>
	</tr></table>
	 <div class="head_zoid"></div>





<table width="800" cellpadding="2" cellspacing="2" border="0" bgcolor="#FFFFFF" ><tr>

<tr>
<td align="right">{comments}</td>
</tr></table>

<table width="100%" cellpadding="2" cellpsacing="2" border="0" bgcolor="#FFFFFF">



{picstable}

<br /><br /><br /><br />


</table>
</div>




</div>