    <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="{baseurl}"><i class="icon-globe"></i> {sitename}</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                        
                       
	
		       <li><a href="{baseurl}/search/">{lang.MENU_HERE} </a></li>
		       <li><a href="{baseurl}/info.php">{lang.MENU_INFO}</a></li>
		     
            
            
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{lang.MENU_MYSTUFF} <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                
                                 <li><a href="{baseurl}/aboutme.php">{lang.ABOUT_ME}</a></li>   
               <li><a href="{baseurl}/mailbox.php">{lang.MENU_MAIL}</a></li>                  
				 <li><a href="{baseurl}/myfriends.php">{lang.MENU_MYCONTACTS}</a></li>
         
         
         
         
         
				<li><a href="{baseurl}/accountinfo.php">{lang.MENU_ACCOUNT}</a></li>
        
        
<li><a href="{baseurl}/preferences.php">{lang.MENU_PREFERENCES}</a></li>





<li><a href="{baseurl}/myprofile_album.php">{lang.MENU_MPHOTOS}</a></li>


                                
                                </ul>
                            </li>
                       
		         <li><a href="{baseurl}/processors/logout.php">Logout</a></li>
		       
		        </ul>
                      
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
