<div class="container">         
  <div class="row">
  
  
  
    <div class="span2"> 
    {name2}
   
    <br> <a href="{relative_path}pics.php?user_id={user_id}">{mainphoto}</a>
    <br>
    {lang.PROFILE_PROFESSION} {proff} #{user_id}<br>
            {gender}<br />
{age} {lang.PROFILE_INFO_YEARS_OLD} <br />{city} {state} {country}         <br />



  


   {friendcount} {lang.PROFILE_INFO_FRIEND_COUNT}
   <br />
   {links_menu}

    </div>
    
    
    
    
    <div class="span10">
    <br>
 {membermap}

    </div>
    
  
  
    
    <div class="span">
    <br />
     {my_diz}
    </div>

  
  </div>
</div>


