<hr>


{message}




 <table  width="100%"> 
 
        <tr> 
 
         <td>
         
         <a href="#">
         <img class="mainimage" src="memberpictures/thumbs/{photo}"></a><br /></td> 
 
          <td>
 
<table border="0"> 
 
    <tr> 
    <td class="searchhead">{lang.NAME}:</td> 
    <td align="left">{name}</td> 
    </tr> 
<tr> 
  <td class="searchhead">{lang.GENDER}:</td> 
  <td align="left">{gender}</td> 
</tr> 
 
<tr> 
  <td class="searchhead">{lang.PROFILE_PRIVATE_AGE}:</td> 
  <td align="left">{age}</td> 
</tr> 
  <tr> 
  <td class="searchhead">{lang.PROFILE}:</td> 
  <td align="left">{proff}</td> 
</tr> 

           
</table> 
 
            </td> 
 
     

</tr>

</table>


