<div> {message} </div>



<strong>{lang.ABOUT_ME}</strong>

<hr>
	     
  <a class="btn btn-yellow btn-mini" href="{myprofile}">{lang.ABOUT_ME_VIEW_PORT}</a>
  
  
  
  
   
	<form method="post" name="myform"  action="{relative_path}processors/aboutme.php">
       
<div> 


 <textarea class="input-block-level" rows="8" class="xxlarge" name="my_diz">{my_diz}</textarea>
 
 
 
 </div>
  
<input class="btn btn-greeen" type="submit" value="{lang.SAVE}" />



        
             




</form>
  
  
  