<div class="vitbg"><br /></div>
<table width="800" cellpadding="10" cellspacing="0" border="0" bgcolor="#FFFFFF">
<tr>
	<tdCHANGE_MEMBERSHIP_TEXT><form action="{relative_path}processors/cancel_membership.php" method="post">

	{lang.CHANGE_MEMBERSHIP_TEXT_1}
    <P>

	<textarea name="cancelreason" rows="5" cols="50">{cancelreason}</textarea>
	<P>
{lang.CHANGE_MEMBERSHIP_TEXT_2}
	</P>

	<input type="submit" value="{lang.CHANGE_MEMBERSHIP_PROCEED}" />
</form></td><tr>
<td align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-7632290523912831";
google_ad_width = 468;
google_ad_height = 15;
google_ad_format = "468x15_0ads_al";
google_ad_channel = "";
google_color_border = "FFFFFF";
google_color_bg = "FFFFFF";
google_color_link = "66B5FF";
google_color_text = "000000";
google_color_url = "008000";
//-->
</script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></td></tr>

</tr>
</table>
</div></div>
