<table cellspacing="5" cellpadding="0" width="100%" border="0">
<tr>
	<td colspan="2" class="aptfontbold">Sorry, there has been an error processing your request:</td>
</tr>
<tr>
	<td colspan="2" height="20"></td>
</tr>
<tr>
	<td colspan="2" align="center"><p class="alert">{my_message}</p></td>
</tr>
<tr>
	<td>{line}</td></tr><tr>
	<td>{file}</td>
</tr>
<tr>
	<td colspan="2" height="20"></td>
</tr>
<tr>
	<td colspan="2"><a href="javascript:history.go(-1)">Back</a> to previous page.</td>
</tr>
</table>
