<div id="mainwide">
<br>
<br>
<br>
<form id="myform" action="approval.php" method="post">
<input type="hidden" name="action" value="3" />
<input type="hidden" name="user_id" value="{user_id}" />
<table>
	<tr>
	  <td></td>
	  <td><b>Reason for not approving:</b></td>
	  </tr>
	<tr>
		<td></td>
		<td><br />
        
        <textarea name="reason" wrap="off" cols="60" rows="15" /></textarea></td>
	</tr>
	<tr>
		<td></td>
		<td align="center"><input type="submit" value="Send" />&nbsp;&nbsp;<input type="reset" /></td>
	</tr>
</table>
</form>
</td>
</div>