  <h1>Change members password:</h1>
  <div id="main">

<form action="change_pass.php" method="post">

<table >
<tr>
<td></td></tr>
	<tr>

		<td  colspan="2">

	<b>	Enter the user ID & password of member:</b>

		</td>

	<tr>

		<td><strong>User ID:</strong></td>

		<td><input type="text" name="user" /></td>

	</tr>

	<tr>

		<td><strong>New password:</strong></td>

		<td><input type="password" name="pass1" maxlength="10"/></td>

	</tr>

	<tr>

		<td><strong>Confirm password:</strong></td>

		<td><input type="password" name="pass2" maxlength="10" /></td>

	</tr>

	<tr>

		<td colspan="2" align="center"><input type="submit" value="Change" />&nbsp;&nbsp;<input type="reset" /></td>

	</tr>

</table>

</form>

</div>

