<h1>Suspend Members</h1>
  <div id="main">
<center>{message}

<br>

<br>

<br>

<form action="suspend.php" method="post">

<input type="hidden" name="step" value="1">

<table width="50%">

	<tr>

		<td colspan="2">

		Enter the <b>Name</b> or part of a members name to suspend.<br>

		A list of matching users will be displayed for you to choose from. Users already suspended will not be displayed.

		</td>

	<tr>

		<td>Name:</td>

		<td><input type="text" name="name" /></td>

	</tr>

	<tr>

		<td align="center" colspan="2"><input type="submit" value="Search" /></td>

	</tr>

</table>

</form>

</center>
</div>

