
<form class="form-horizontal" method="post" action="{relative_path}processors/login.php">
<div class="control-group">
<label class="control-label" for="inputEmail">{lang.FORM_EMAIL}</label>
<div class="controls">
<input type="text" name="username" id="inputEmail" placeholder="{lang.FORM_EMAIL}">
</div>
</div>
<div class="control-group">
<label class="control-label" for="inputPassword">Password</label>
<div class="controls">
<input type="password" name="password" id="inputPassword" placeholder="Password">
</div>
</div>
<div class="control-group">
<div class="controls">

<button type="submit" class="btn">{lang.FORM_LOGIN}</button>
</div>
</div>
</form>